*{
    margin: 0;
    padding: 0;

}
.primera{
    background: rgb(0, 229, 255);
}
.cabecera {
    background-color: black;
    position: fixed;
    width: 100%;

    
}

.logo {
    width: 100px;

}
.rayas {
    width: 50px;
}