*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

.cabecera {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;  
}

.logo {
    width: 30px;
   
}
.rayas {
    width: 20px;
}

}
.primera{
    background: rgb(0, 229, 255);
    height: 500px;
}